<gamesbyemail-base-test [game-name]="'Chess'" [play]="play" [start-game]="startGame" [join-game]="joinGame" [rules]="rules"></gamesbyemail-base-test>
<ng-template #play>
  <gamesbyemail-games-viktory2-play style="display:inline-block;width:800px"></gamesbyemail-games-viktory2-play>
</ng-template>
<ng-template #startGame>
  <gamesbyemail-games-viktory2-startgame [me]="me"></gamesbyemail-games-viktory2-startgame>
</ng-template>
<ng-template #joinGame>
  <gamesbyemail-games-viktory2-joingame [me]="me" [game]="game"></gamesbyemail-games-viktory2-joingame>
</ng-template>
<ng-template #rules>
  <gamesbyemail-games-viktory2-rules></gamesbyemail-games-viktory2-rules>
</ng-template>